body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container1{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1{
    margin: 0;
}

h1:hover{
    cursor: pointer;
}

h2{
    margin: auto;
    margin-top: 5rem;
    text-align: center;
}

h3{
    margin: auto;
    margin-top: 5rem;
    text-align: center;
}

.buttons{
    display: flex; /* Keep buttons in a row */
    gap: 10px;
}

.btn{
    display: flex;
    border: none;
    background: none;
    font-size: 14px;
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn:hover{
    color: blue;
    cursor: pointer;
}

.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text{
    margin-top: 1rem;
    width: 400px;
    height: 300px;
    text-align: center;
    font-size: 14px;
}

.idk{
    border: none;
    background: none;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.idk:hover{
    color: blue;
    cursor: pointer;
}

.task-line{
    width: 400px;
}

.tasks{
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers everything inside .tasks */
    margin-top: 20px;
}

.task-item{
    display: flex;
    align-items: center;
    gap: 10px; /* Space between checkbox and text */
    margin-bottom: 5px;
}
